:root {
  --color-primary: #08a6e4;
  --color-primary-shadow: rgba(7, 172, 230, 0.16);
  --color-redish: #fb3b64;
  --color-green: #55dfb4;
  --color-black: #000000;
  --color-grey: #a5a5a5;
  --color-light-grey: #f7f7f7;
  --color-white: #ffffff;

  --font-opensans-bold-11: 700 11px/15px "Open Sans", sans-serif;
  --font-opensans-bold-13: 700 13px "Open Sans", sans-serif;
  --font-opensans-bold-16: 700 16px/22px "Open Sans", sans-serif;
  --font-opensans-regular-11: 400 11px "Open Sans", sans-serif;
  --font-opensans-regular-12: 400 12px "Open Sans", sans-serif;
  --font-opensans-regular-14: 400 14px "Open Sans", sans-serif;
  --font-opensans-regular-16: 400 16px/22px "Open Sans", sans-serif;
  --font-opensans-light-46: 300 46px "Open Sans", sans-serif;
  --font-raleway-light-32: 300 32px/37px "Raleway", sans-serif;
  --font-raleway-light-26: 300 26px/30px "Raleway", sans-serif;
  --font-raleway-regular-49: 400 49px/57px "Raleway", sans-serif;
  --font-raleway-regular-36: 400 36px/42px "Raleway", sans-serif;
  --font-raleway-regular-17: 400 17px/20px "Raleway", sans-serif;
  --font-raleway-regular-16: 400 16px/19px "Raleway", sans-serif;
  --font-raleway-extrabold-20: 800 20px/24px "Raleway", sans-serif;
  --font-raleway-bold-20: 700 20px/24px "Raleway", sans-serif;
  --font-raleway-bold-21: 700 21px "Raleway", sans-serif;
  --font-raleway-bold-12: 700 12px "Raleway", sans-serif;
  --font-raleway-bold-9: 700 9px "Raleway", sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  text-decoration: none;
}
.container {
  width: 1352px;
  margin: 0 auto;
}
.flex--spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.hidden {
  visibility: hidden;
}

/* HEADER */

header {
  height: 70px;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.header__logo {
  color: rgba(8, 166, 228, 1);
  font: var(--font-raleway-light-32);
}
.header__nav {
  width: 544px;
}
.nav__link {
  padding: 27px 10px 22px;
  font: var(--font-opensans-bold-11);
  color: var(--color-grey);
  letter-spacing: 3.28px;
  text-transform: uppercase;
  transition: 0.3s all;
}
.nav__link:hover {
  color: var(--color-black);
  border-bottom: 4px solid var(--color-primary);
}

/* OPEN */

.open__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: calc(100vh - 70px);
  width: 100%;
  text-align: center;
  color: var(--color-black);
  overflow: hidden;
}
.open__section h1 {
  font: var(--font-raleway-regular-49);
  margin-bottom: 20px;
}
.open__section p {
  font: var(--font-opensans-regular-16);
  margin-bottom: 38px;
}
.open__cta {
  display: inline-block;
  padding: 22.7px 156.8px;

  color: white;
  font: var(--font-opensans-bold-16);

  background: var(--color-primary);
  box-shadow: 5px 10px 14px var(--color-primary-shadow);
  border-radius: 40px;
  transition: 0.5s;
}
.open__cta:hover {
  padding: 22.7px 180px;
}
.open__background {
  height: 60%;
}

/* STATISTICS */

.statistics__section {
  height: 531px;
  box-shadow: 0px -5px 80px #00000029;
}
.statistics_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.statistics_container h2 {
  font: var(--font-raleway-regular-36);
  margin: 100px auto;
}
.statistics__wrapper {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.statistics__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.statistics__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  margin-bottom: 14px;
}
.circle--green {
  background: var(--color-green);
}
.circle--primary {
  background: var(--color-primary);
}
.circle--redish {
  background: var(--color-redish);
}
.statistics__icon {
  position: relative;
  left: 20px;
}
.statistics__numbers {
  font: var(--font-raleway-extrabold-20);
  margin-bottom: 19px;
  letter-spacing: 6px;
}
.statistics__caption {
  text-align: center;
  color: var(--color-grey);
  font: var(--font-raleway-regular-16);
}

/* BENEFITS */

.benefits__section {
  background: var(--color-light-grey);
}
.benefits__row {
  width: 1124px;
  height: 370px;
  margin: 37px auto;

  border-radius: 5px;
}
.benefits__section .container {
  padding: 68px 0;
}
.connected {
  background: white;
  border: 1px solid #e8e9ed;
}
.connected .benefits__textwrapper {
  width: 416px;
}
.benefits__textwrapper h2 {
  font: var(--font-raleway-regular-36);
  margin-bottom: 30px;
}
.connected p {
  font: var(--font-opensans-regular-16);
  margin-bottom: 50px;
}
.horizontal-line {
  height: 4px;
  width: 327.5px;
}
/* BENEFITS -- First Row modifiers */
.textwrapper--first {
  height: 188px;
  margin: 91px 0 91px 35px;
}
.textwrapper--first .horizontal-line {
  background: var(--color-redish);
}
.imgwrapper--first {
  width: 433px;
  height: 294px;
  margin: 38px 71px 38px 0;
  position: relative;
}
.macbook {
  height: 219px;
  position: absolute;
  z-index: 1;
  bottom: 0;
}
.shape__macbook {
  width: 180px;
  height: 180px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  background: var(--color-redish);
  border-radius: 41px;
  position: absolute;
  right: 41px;
  top: 41px;
}
/* BENEFITS -- Second Row modifiers */
.textwrapper--second {
  height: 188px;
  margin: 69px 20px 71px 0;
}
.textwrapper--second .horizontal-line {
  background: var(--color-primary);
}
.imgwrapper--second {
  width: 426px;
  height: 345px;
  margin: 12px 0 13px 70px;
  position: relative;
}
.iphone {
  height: 328px;
  position: absolute;
  z-index: 1;
  bottom: 0;
}
.shape__iphone {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: var(--color-primary);
  position: absolute;
}
/* BENEFITS -- Third Row modifiers */
.textwrapper--third {
  height: 370px;
  width: 623px;
  padding: 69px 34px 71px 35px;
  background: var(--color-white);
  border: 1px solid #e8e9ed;
  border-radius: 5px;
}
.textwrapper--third p {
  font: var(--font-opensans-regular-16);
  margin-bottom: 44px;
}
.textwrapper--third .horizontal-line {
  background: var(--color-green);
}
.imgwrapper--third {
  width: 440px;
  height: 370px;
  background: var(--color-green);
  border: 1px solid #e8e9ed;
  border-radius: 5px;
}
.trumpet {
  height: 207px;
  margin: 98px 82px 64px 62px;
}

/* PRICING */

.pricing__section .container {
  height: 616px;
  margin: 100px auto 155px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.pricing__section h2 {
  font: var(--font-raleway-regular-36);
  text-align: center;
  margin-bottom: 50px;
}
.column__wrapper {
  height: auto;
}
.column {
  width: 372px;
  height: 461px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #13253b;
  position: relative;
}
.column h3 {
  font: var(--font-raleway-bold-20);
  text-align: center;
  margin: 34px auto 14px;
}
.price {
  font: var(--font-opensans-light-46);
}
.limited {
  font: var(--font-raleway-bold-12);
  margin-top: 5px;
}
.features {
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  margin: 50px auto 81px;
}
.features li {
  font: var(--font-opensans-regular-14);
  color: var(--color-black);
  position: relative;
}
.included::before {
  content: "";
  width: 11px;
  height: 11px;
  background: url(../assets/included.svg) no-repeat center;
  position: absolute;
  transform: translateY(4.5px);
  top: 0;
  left: -18px;
}
.not-included::before {
  content: "";
  width: 11px;
  height: 11px;
  background: url(../assets/close.svg) no-repeat center;
  position: absolute;
  transform: translateY(4.5px);
  top: 0;
  left: -18px;
}
.pricing__CTA {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 50px;
  border-radius: 23px;

  color: var(--color-white);
  font: var(--font-opensans-bold-13);

  position: absolute;
  bottom: -25px;
  transition: 0.3s all;
}
.pricing__CTA:hover {
  height: 150px;
  border-radius: 50%;
  transform: translateY(50px);
}
/* PRICING -- indywidual modifiers */
/* PRICING -- first column */
.column--first {
  border: 1px solid #fb3b64;
}
.column--first .price {
  color: var(--color-redish);
}
.column--first .pricing__CTA {
  background: var(--color-redish);
}
/* PRICING -- second column */
.column--second {
  border: 1px solid #07ace6;
}
.column--second .price {
  color: var(--color-primary);
}
.column--second .features {
  margin: 50px auto 79px;
}
.column--second .pricing__CTA {
  background: var(--color-primary);
}
.column--highlighted {
  box-shadow: 5px 10px 27px var(--color-primary-shadow);
  width: 405px;
  height: 500px;
}
.pricing__CTA--bigger {
  width: 165px;
  box-shadow: 5px 10px 14px var(--color-primary-shadow);
}
/* PRICING -- third column */
.column--third {
  border: 1px solid #55dfb4;
}
.column--third .price {
  color: var(--color-green);
}
.column--third .pricing__CTA {
  background: var(--color-green);
}
