/* BENEFITS */

.benefits__section {
  background: $color-light-grey;

  .container {
    padding: 68px 15px;
  }

  .benefits__row {
    max-width: 1124px;
    margin: 37px auto;
    border-radius: 5px;
    height: 370px;

    @media (max-width: 872px) {
      flex-wrap: wrap;
      height: fit-content;
    }
    h2 {
      font: $font-raleway-regular-36;
      margin-bottom: 30px;
      @media (max-width: 460px) {
        font-size: 1.7rem;
        margin-bottom: 1rem;
      }
    }
  }

  .connected {
    background: white;
    border: 1px solid #e8e9ed;

    .benefits__textwrapper {
      padding: 0 35px;
      flex-shrink: 2;
    }

    p {
      font: $font-opensans-regular-16;
      margin-bottom: 50px;
      @media (max-width: 460px) {
        font-size: 0.9rem;
      }
    }
  }
  .horizontal-line {
    width: 327.5px;
    height: 4px;
    @media (max-width: 872px) {
      display: none;
    }
  }
}

/* BENEFITS -- First Row modifiers */
.imgwrapper--first {
  width: 433px;
  height: 294px;
  margin: 38px 71px 38px 0;
  position: relative;
  @media (max-width: 872px) {
    order: -1;
    min-width: 80%;
    margin: 2rem auto 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.macbook {
  height: 220px;
  position: relative;
  z-index: 1;
  margin: 30px auto;
  @media (max-width: 872px) {
    height: 180px;
  }
}
.shape__macbook {
  width: 180px;
  height: 180px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  background: $color-redish;
  border-radius: 41px;
  position: absolute;
  right: calc(50% - 190px);
  top: calc(50% - 160px);
  @media (max-width: 872px) {
    top: calc(50% - 120px);
    right: calc(50% - 150px);
    height: 120px;
    width: 120px;
    border-radius: 55px;
  }
}

// /* BENEFITS -- Second Row modifiers */

.imgwrapper--second {
  width: 426px;
  height: 345px;
  margin: 12px 0 13px 70px;
  position: relative;
  @media (max-width: 872px) {
    min-width: 80%;
    margin: 2rem auto 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & ~ .benefits__textwrapper {
    @media (min-width: 872px) {
      padding-left: 100px !important;

      h2 {
        padding-right: 27%;
        @media (min-width: 944px) {
          padding-right: 40%;
        }
        @media (min-width: 1040px) {
          padding-right: 50%;
        }
      }
    }
  }
}

.iphone {
  height: 328px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  @media (max-width: 872px) {
    height: 180px;
    bottom: 20%;
    right: 25%;
  }
}
.shape__iphone {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: $color-primary;
  position: absolute;
  @media (max-width: 872px) {
    height: 180px;
    width: 180px;
  }
}

/* BENEFITS -- Third Row modifiers */
.textwrapper--third {
  height: 370px;
  width: 623px;
  padding: 69px 34px 71px 35px;
  background: $color-white;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  @media (max-width: 872px) {
    width: 100%;
  }
  h2 {
    @media (min-width: 1045px) {
      padding-right: 33%;
    }
  }

  p {
    font: $font-opensans-regular-16;
    margin-bottom: 44px;
  }
}

.imgwrapper--third {
  width: 440px;
  height: 370px;
  background: $color-green;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  @media (max-width: 872px) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.trumpet {
  height: 207px;
  margin: 98px 82px 64px 62px;
}

//color lines
.first {
  background: $color-redish;
}

.second {
  background: $color-primary;
}

.third {
  background: $color-green;
}
