/* FOOTER */

footer {
  margin-top: 59px;
  background: var(--color-light-grey);
  box-shadow: 0px -5px 40px #00000029;
  height: 89px;
}
.footer__logo {
  font: var(--font-raleway-light-26);
  color: var(--color-primary);
  display: inline-block;
  margin-bottom: 6px;
}
.footer__copy {
  color: var(--color-grey);
  font: var(--font-opensans-regular-11);
}
.social__wrapper a {
  margin-left: 20px;
}
