/* STATISTICS */

.statistics__section {
  padding-bottom: 60px;

  @media (min-width: 760px) {
    box-shadow: 0px -5px 80px #00000029;
    padding-bottom: 120px;
  }
}

.statistics_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font: $font-raleway-regular-36;
    margin: 50px auto;
    padding: 0 50px;
    text-align: center;
    line-height: 42px;
    @media (min-width: 760px) {
      width: 750px;
      margin: 100px auto;
    }
  }

  .statistics__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;

    .statistics__column {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      flex: 1 1 100%;
      margin-bottom: 40px;

      @media (min-width: 760px) {
        flex: 1 0 30%;
      }
    }
  }
}

.statistics__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  margin-bottom: 14px;
}
.circle--green {
  background: $color-green;
}
.circle--primary {
  background: $color-primary;
}
.circle--redish {
  background: $color-redish;
}

.statistics__icon {
  position: relative;
  left: 20px;
}

.statistics__numbers {
  font: $font-raleway-extrabold-20;
  letter-spacing: 6px;
  margin-bottom: 8px;
  @media (min-width: 760px) {
    margin-bottom: 19px;
  }
}

.statistics__caption {
  text-align: center;
  color: $color-grey;
  font: $font-raleway-regular-16;
}
