html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  text-decoration: none;
}
.container {
  width: 1352px;
  height: 100%;
  margin: 0 auto;
  @media (max-width: 1382px) {
    width: 100%;
    padding: 0 15px;
  }
}
.flex--spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
